<!DOCTYPE html>
<html>
  <head>
    <title>SrKredis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if signed_in? %>
    <%= link_to current_user.email, edit_user_registration_path %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% current_user.recently_viewed_products.elements.each do |product_id| %>
      <% product = Product.find(product_id) %>
      <%= link_to product.name, product_path(product) %>
    <% end %>
    <%= yield %>
  </body>
</html>
